{% extends 'base.html' %}

{% block content %}
<h1>Upload Whatsapp Group Chat Export File</h1>

{% if 'decodingerror' in request.GET %}
    <p class="error">Something went wrong. Try again.</p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input class="button" type="submit" value="Upload Chat"/>
</form>

{% endblock %}
